
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;

}


a {
	text-decoration: none;
}

.checker {
  margin-right: 8px;
}

.container {
  padding: 0;
}


.addForm {
  padding: 10px 0;
}

.todoItemDiv {
  background-color: #f4f4f4;
  padding: 10px;
  border-bottom: 1px #ccc solid;
  
}

.btn {
	margin: 70px;
}

.deleteBtn {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	  box-shadow:inset 0px 1px 0px 0px #ffffff;
	  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	  background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	  background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	  background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	  background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	  background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	  background-color:#ededed;
	color: black;
	border: none;
	
	padding: 5px 10px;
	cursor: pointer;
	float: right;
  }
  
